
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    margin: 0;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800, 900,600, 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    background-color: black;
}


.dancing-script-fonts {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 95px;
}


/* shared style */
.shared{
    width: 90%;
    margin: 0 auto;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 200px; */
    width: 80%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.nav-title{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding: 8px 12px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 45px;
    border: none;

}
.nav-icon{
    display: none;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    /* margin: 0 214px 0 190px; */
    width: 80%;
    margin: 0 auto;
    
}
.banner-content{
       max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color: white;
}
.banner-title{
    font-size: 78px;
    font-weight: 900;
    color: white;
}
.banner-description{
 color:rgba(255, 255, 255, 0.5);
 font-size: 16px;
 font-weight: 400;
margin-top: -30px;
margin-bottom: 30px;

}
.btn-prime-1{
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 45px;
    border: none;
}
.btn-prime-2{
    padding: 16px 40px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 45px;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 7px;
   
}
.banner-img{
height: 580px;
width: 420px;
}
.btn-prime{
    position: absolute;
   top:250px ; 
    /* left: 10px; */
    /* padding: 20px 25px; */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(48, 46, 46);
    height: 100px;
    width: 200px;
    margin-left: -120px;
    
}
.btn-text{
    font-size: 35px;
    font-weight: 900;
    text-align: left;
    margin-right: 50px;
    color: white;
}
.btn-text-2{
    font-size: 13px;
    font-weight: 400;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.65);
}
.button-text{
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    /* margin-right: 80px; */
}
.button-text-2{
    font-size: 13px;
    font-weight: 400;
    /* padding-right: 40px; */
    color: rgba(255, 255, 255, 0.65);
}
.banner-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner-btn{
  
    position: absolute;
    top: 580px;
   left: 800px;
     color: white;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
     height: 100px;
     width: 200px;
    
}
.round{
    background-color: rgb(230, 83, 60);
    border-radius: 1000px;
    border: none;
    position: absolute;
    top: 620px;
   left: 800px;
}

/* section-1 */

.habits{
   
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    /* padding: 0 250px; */
}
.section-title{
    font-size: 48px;
font-weight: 900;
color: white;
text-align: center;
}
.section-description{
    font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
margin-top: -30px;
text-align: center;
}

.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 80px;
    margin-top: 55px;
   
}
.habit-img{
    border-radius: 1000px;
}
.habit-title{
    font-size: 18px;
    font-weight: 600;
    color: white;
   margin-right: 70px;
    text-align: center;
   
}
.habit-description{
    font-size: 14px;
    font-weight: 400; 
    margin-top: -10px; 
    /* margin-left: 10px; */
    color: rgba(255, 255, 255, 0.5);
    width: 230px; 
    text-align: center;
}

/* section 2 */

.run{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
}
.run-title{
    color: white;
    font-size: 48px;
font-weight: 900;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: -30px;
}
.run-container{
    margin-left: 80px;
}
.run-img{
    height: 300px;
    width: 380px;
    border-radius: 20px;
    margin: 40px;
    object-fit: none;
    object-position: 66% 33%;
}
.run-btn{
    background-color: rgb(230, 83, 60);
    padding: 16px 70px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 45px;
    border: none;
    margin-top: 30px;
}

/* section-3 */

.calculator-div{
    background-color:rgb(34, 34, 34) ;
    margin-top: 90px;
}
.calculator-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
}

/* table */

.calculator1, .calculator2{
   
    width: 48%;
}
.calculator1 h3, .calculator2 h3{
    font-size: 28px;
    font-weight: 900;
    color: white;
}
.calculator2 p{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-bottom: 35px;
}
.calculator1 table{
    width: 50%;
   border-collapse: collapse;
    margin-top: 50px;
}
.calculator1 table, .calculator1 th ,.calculator1 td{
  
    border: 1px solid #555;
   
}
.calculator1 th ,.calculator1 td{
    text-align: start;
    padding: 13px;
}
.calculator1 th {
      color: white;
      font-size: 16px;
      font-weight: 600;
}
.calculator1 td {
    color:rgba(255, 255, 255, 0.5) ;
      font-size: 14px;
      font-weight: 400;
}

/* form */

.calculator2 form{
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    justify-content: space-between;
}
.calculator2 input{
    width: 50%;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
   
    font-size: 16px;
    font-weight: 400;
}
.form-option{
    width: 97%;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.4);
font-size: 16px;
font-weight: 400;
}
#option{
    width: 53%;
    margin: 10px;
    padding: 12px ;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
}
/* section-4 */
.team-section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.team{
    
}
.team h3{
    margin-top: -60px;
    margin-left: 30px;
    color: white;
}
.team p{
    margin-top: -10px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   row-gap: 20px;
  
   background-color: rgba(255, 255, 255, 0.1);
    justify-items: center;
    border-radius: 15px;
   padding-top: 20px;
   padding-bottom: 10px;
   margin-top: 80px;
}
.team-img{
    width: 350px;
    height: 300px;
    border-radius: 15px;
}

/* section-5 */
.newsletter{
    width: 80%;
    margin: 0 auto;
margin-top: 90px;
}
.newsletter-container{
    background-image: url("../images/fitness.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 28px;
    text-align: center;
}
.dancing-script-fonts-2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-top: 90px;
    color: rgba(255, 255, 255, 0.8);
  }

.newsletter-title{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: -15px;

}
.subscribe input{
    width: 30%;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
   color: white;
    font-size: 16px;
    font-weight: 400;
}
.newsletter-btn{
    background-color: rgb(230, 83, 60);
    padding: 13px 40px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}
/* footer */
footer{
    background-color: rgb(36, 36, 36);
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-container-2{
    padding-top: 55px;
}
.footer-title{
    font-size: 70px;
    font-weight: 900;
    color:rgb(230, 83, 60) ;
}
.footer-title-2{
font-size: 40px;
font-weight: 600;
color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: -50px;
}
footer ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: -39px;
}
.emty{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid gray;
}
.footer-description-2{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 40px 0;
}